<html>
    <head>
        <title>Kirill's blog</title>
    </head>
    <body>
      <div>
        <h1><a href="/">Мой первый блог</a></h1>
      </div>

      <div>
        <h1><strong><a href="">Как я встретил Дарью</a></strong></h1>
          <p>Ох, это был далёкий 2017 год.
          <br />
          Я учился в Мурманской автошколе, хотел сдать на права. Инструктор у меня попался то что надо! Однажды он пригласил меня на свой День Рождения.
          <br />
          И вот именно на этом Дне Рождения я встретил девушку, с которой сейчас живу аж в Нижнем Новгороде. Если честно, очень долгая история нашего знакомтсва, дружбы и ожидания встречи от разлуки армией. Но всё это, безусловно, того стоило.</p>
      </div>

      <div>
        <p><h2><em><a href="">Что у меня было до встречи с Дарьей</a></em></h2>
        <ul><li>Нет прав</li><li>Жизнь в Мурманске</li><li>Нет девушки</li></ul></p>
      </div>

      <div>
        <p><h2><em><a href="">Что у меня стало после встречи с Дарьей</a></em></h2>
        <ul><li>Есть права</li><li>Жизнь <strong>не</strong> в Мурманске</li><li>Есть военный билет</li><li>Обожаю свою девушку</li></ul></p>
      </div>
    </body>
</html>
