<html>
    <head>
        <title>Kirill's blog</title>
    </head>
    <body>
      <div>
        <h1><a href="/">Мой первый блог</a></h1>
      </div>

      {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

      <div>
        <p><h2><em><a href="">Что у меня было до встречи с Дарьей</a></em></h2>
        <ul><li>Нет прав</li><li>Жизнь в Мурманске</li><li>Нет девушки</li></ul></p>
      </div>

      <div>
        <p><h2><em><a href="">Что у меня стало после встречи с Дарьей</a></em></h2>
        <ul><li>Есть права</li><li>Жизнь <strong>не</strong> в Мурманске</li><li>Есть военный билет</li><li>Обожаю свою девушку</li></ul></p>
      </div>
    </body>
</html>
